html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Padauk', sans-serif;
}
.one{
    background-image: url(/img/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    color: #fff;
    text-align: center;
}
.pad{
    padding: 50px 0 150px 0;
}
.two{
    text-align: center;
    align-items: center;
    padding: 50px 0 50px 0;
}
.three{
    text-align: center;
    background-image: url(/img/backgrounds/s_image.jpg);
    color: #fff;
    padding: 50px 0 50px 0;
}
.services{
    align-items: center;
    padding: 80px 0 80px 0;
}
.four{
    text-align: center;
    padding: 50px 0 50px 0;
}
.four>img{
    padding: 0 200px 0 200px;
}
.five{
    text-align: center;
    padding: 50px 0 50px 0;
}
.five>.img{
    padding: 0 50px 0 50px;
}
.six{
    background-image: url(/img/backgrounds/c_image.jpg);
    text-align: center;
    color: white;
}
.contact{
    padding: 50px 0 100px 0;
}
#delani{
    opacity: 0.5;
}
.seven{
    padding: 50px 0 50px 0;
    text-align: center;
}
.footer{
    padding: 10px 0 10px;
    text-align: center;
}